extends ../layouts/application.jade

block content

  h1(class='text-center')!= title
  h2(class='text-center subtitle')!= subtitle

  .row
    div(class='col-md-8 col-md-offset-2')
      hr
      h3 Task #1: Even/Odd Counter
      ul
        li Write a <code>for</code> loop that will iterate from 0 to 20.
        li For each iteration, check if the current number is even or odd and report that to the screen (e.g. "2 is even")
      br
      | <a class="jsbin-embed" href="http://jsbin.com/qazili/4/embed?js,console">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>

      hr
      h3 Task #2: Choices
      ul
        li Create an array to hold your top choices (colors, presidential candidates, cold beverages, whatever).
        li For each choice, log to the console a string like... "My #1 choice is blue."
        li <i>Bonus: Change it to log "My 1st choice, "My 2nd choice", "My 3rd choice", picking the right suffix for the number based on what it is.</i>
      br
      | <a class="jsbin-embed" href="http://jsbin.com/rahuma/8/embed?js,console">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>

      hr
      h3 Task #3: Reading List
      ul
        li Create an array of objects, where each object describes a book and has properties for the title (a string), author (a string), and alreadyRead (a boolean indicating if you read it yet).
        li Iterate through the array of books. For each book, log the book title and book author like so: <strong>"The Hobbit by J.R.R. Tolkien"</strong>.
        li Now use an <code>if/else</code> statement to change the output depending on whether you read it yet or not. If you read it, log a string like <i>'You already read "The Hobbit" by J.R.R. Tolkien'</i>, and if not, log a string like <i>'You still need to read "The Lord of the Rings" by J.R.R. Tolkien.'</i>
      br
      | <a class="jsbin-embed" href="http://jsbin.com/mulani/7/embed?js,console">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>

      hr
      br
      br
      br
