// Default mixins and settings -----------------
@import "mixins";
@import "settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$mainColor: #333;
$headingLetterSpacing: 0;
$headingTextShadow: none;
$backgroundColor: #f7fbfc;
$linkColor: #92BB44;
$selectionBackgroundColor: #134674;

// Background generator
@mixin bodyBackground() {
  @include radial-gradient( lighten(#EDAB23, 40% ), #f7fbfc );
}

// Theme template ------------------------------
@import "moon";
// ---------------------------------------------

.reveal {
  h1,
  h2,
  h3,
  h4 {
    text-shadow: none;
    margin-bottom: 0.5em;
    & > small.gray,
    &.gray {
      color: #AAA;
    }
    & > small.dark,
    &.dark {
      color: #222;
    }
  }
}

.reveal {
  .subject {
    font-size: 135%;
    margin-bottom: 1em;
  }
  dd {
    margin-bottom: 0.3em;
  }

  blockquote {
    margin: 1em 0;
    padding: 1em;
    background: lighten($backgroundColor, 5);  
  }

  pre > code {
    font-size: 1.3em;
    margin: 1em 0;
    padding: 0.4em 0.6em;
    text-align: left;
    line-height: 1.1em;
    font-family: monospace;
    font-weight: normal;
  }

  img {
    &.no-border {
      border: none;
      background: none;
      box-shadow: none;
    }
  }
}

