doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/application.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='/js/application.js')
    block title
      title gdi.tcmacdonald.com
  body
    div(class='container')
      block content
