extends ../layouts/application.jade

block content
  h1.sr-only More jQuery: Events, Effects, CSS &amp; More
  div.page-header
    h2 Class #4: jQuery Selector Boogaloo

  p.lead In our final installment, we'll go deep into selectors and other handy jQuery utilities like events, effects and more. Let's get interactive!

  p
    a.btn.btn-info(href='/slides/four')
      i.fa.fa-picture-o
      |  &nbsp;View Slides
    | &nbsp;&nbsp;
    a.btn.btn-warning.disabled
      i.fa.fa-codepen
      |  &nbsp;View Codepen

  // -
    div.page-header
      h2 Class Overview

    p
      | Please come to class with your laptop and
      em  don't forget the power cord
      | . Be prepared to write some code. We'll be using 
      a(href='http://codepen.io') CodePen
      |  to collaborate in-class so go there and setup an account. I'll share the URL to the class exercises at the beginning of each class.
    br
    ol
      li Tools &amp; Vocabulary
      li History of Javascript
      li Variables
      li Conditionals
      li Functions
    br
    p
    a(href='https://twitter.com/oscherler/status/660049264903643136')
      img(src='/images/js-tweet.png', class='img-responsive img-thumbnail', style='width: 525px')


