extends ../layouts/application.jade

block content
  h1.sr-only More jQuery: Events, Effects, CSS &amp; More
  div.page-header
    h2 Class #4: jQuery Selector Boogaloo

  p.lead In our final installment, we'll go deep into selectors and other handy jQuery utilities like events, effects and more. Let's get interactive!

  p
    a.btn.btn-info(href='/slides/four')
      i.fa.fa-picture-o
      |  &nbsp;View Slides

  br
  p
  a(href='https://twitter.com/oscherler/status/660049264903643136')
    img(src='/images/js-tweet.png', class='img-responsive img-thumbnail', style='width: 525px')
