extends ../layouts/application.jade

block content
  h1.sr-only Introduction to Javascript: Loops, Array and Objects
  div.page-header
    h2 Class #2: The Fundamentals

  p.lead
    | Building upon the concepts covered in 
    a(href='/classes/one') Class #1
    | , here we discuss arrays and objects and the process &amp; usefulness of iterating over them to do stuff programmatically.

  p
    div.btn-group
      a.btn.btn-info(href='/slides/two')
        i.fa.fa-picture-o
        |  &nbsp;View Slides
    // --
      | &nbsp;&nbsp;
      div.btn-group
        button.btn.btn-warning.dropdown-toggle(data-toggle="dropdown")
          | In-Class Exercises&nbsp;
          span.caret
        ul.dropdown-menu
          li
            a(href='http://codepen.io/tcmacdonald/pen/OMzZZj?editors=001')
              i.fa.fa-codepen
              | &nbsp;Favorite Foods
            a(href='http://codepen.io/tcmacdonald/pen/LGemgG?editors=001')
              i.fa.fa-codepen
              | &nbsp;List of Recipes

  div.page-header
    h2 Homework

  div.panel.panel-default
    div.panel-heading
      a.pull-right(href='http://codepen.io/tcmacdonald/pen/adpEqQ?editors=001')
        i.fa.fa-codepen
        |  View Solution
      strong Task #1: 
      | Even/Odd Counter
    div.panel-body
      ul
        li Write a <code>for</code> loop that will iterate from 0 to 20.
        li For each iteration, check if the current number is even or odd and report that to the screen (e.g. "2 is even")

  div.panel.panel-default
    div.panel-heading
      a.pull-right(href='http://codepen.io/tcmacdonald/pen/OMWzvX?editors=001')
        i.fa.fa-codepen
        |  View Solution
      strong Task #2: 
      | Choices
    div.panel-body
      ul
        li Create an array to hold your top choices (colors, presidential candidates, cold beverages, whatever).
        li For each choice, log to the console a string like... "My #1 choice is blue."
        li <i>Bonus: Change it to log "My 1st choice, "My 2nd choice", "My 3rd choice", picking the right suffix for the number based on what it is.</i>

  div.panel.panel-default
    div.panel-heading
      a.pull-right(href='http://codepen.io/tcmacdonald/pen/XXpVEB?editors=001')
        i.fa.fa-codepen
        |  View Solution
      strong Task #3: 
      | Reading List
    div.panel-body
      ul
        li Create an array of objects, where each object describes a book and has properties for the title (a string), author (a string), and alreadyRead (a boolean indicating if you read it yet).
        li Iterate through the array of books. For each book, log the book title and book author like so: <strong>"The Hobbit by J.R.R. Tolkien"</strong>.
        li Now use an <code>if/else</code> statement to change the output depending on whether you read it yet or not. If you read it, log a string like <i>'You already read "The Hobbit" by J.R.R. Tolkien'</i>, and if not, log a string like <i>'You still need to read "The Lord of the Rings" by J.R.R. Tolkien.'</i>
